* {
    box-sizing: border-box;
}
html {
    font-family: Arial, Helvetica, sans-serif;
}
body {
    margin: 0px;
    padding: 0px;
}
form {
    display: flex;
    flex-direction: column;
}
.presupuesto {
    background-color: rgb(212, 205, 205);
}
.submit {
    background-color: blue;
    color: white;
}